<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clickBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,145}</string>
                <key>spriteSourceSize</key>
                <string>{157,145}</string>
                <key>textureRect</key>
                <string>{{143,1111},{157,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,151}</string>
                <key>spriteSourceSize</key>
                <string>{207,151}</string>
                <key>textureRect</key>
                <string>{{516,415},{207,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,147}</string>
                <key>spriteSourceSize</key>
                <string>{180,147}</string>
                <key>textureRect</key>
                <string>{{333,415},{180,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,172}</string>
                <key>spriteSourceSize</key>
                <string>{191,172}</string>
                <key>textureRect</key>
                <string>{{727,704},{191,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,181}</string>
                <key>spriteSourceSize</key>
                <string>{163,181}</string>
                <key>textureRect</key>
                <string>{{333,704},{163,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,198}</string>
                <key>spriteSourceSize</key>
                <string>{178,198}</string>
                <key>textureRect</key>
                <string>{{516,568},{178,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,217}</string>
                <key>spriteSourceSize</key>
                <string>{458,217}</string>
                <key>textureRect</key>
                <string>{{114,415},{458,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,217}</string>
                <key>spriteSourceSize</key>
                <string>{457,217}</string>
                <key>textureRect</key>
                <string>{{268,875},{457,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gunLeve4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,33}</string>
                <key>spriteSourceSize</key>
                <string>{73,33}</string>
                <key>textureRect</key>
                <string>{{972,90},{73,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunLevel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,33}</string>
                <key>spriteSourceSize</key>
                <string>{73,33}</string>
                <key>textureRect</key>
                <string>{{972,165},{73,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunLevel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,33}</string>
                <key>spriteSourceSize</key>
                <string>{73,33}</string>
                <key>textureRect</key>
                <string>{{969,240},{73,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunLevel3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,33}</string>
                <key>spriteSourceSize</key>
                <string>{73,33}</string>
                <key>textureRect</key>
                <string>{{969,315},{73,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gun_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{246,142}</string>
                <key>spriteSourceSize</key>
                <string>{270,164}</string>
                <key>textureRect</key>
                <string>{{727,415},{246,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{209,143}</string>
                <key>spriteSourceSize</key>
                <string>{233,159}</string>
                <key>textureRect</key>
                <string>{{727,559},{209,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,152}</string>
                <key>spriteSourceSize</key>
                <string>{250,160}</string>
                <key>textureRect</key>
                <string>{{114,875},{234,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gun_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{262,151}</string>
                <key>spriteSourceSize</key>
                <string>{290,175}</string>
                <key>textureRect</key>
                <string>{{721,1094},{262,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{273,162}</string>
                <key>spriteSourceSize</key>
                <string>{297,182}</string>
                <key>textureRect</key>
                <string>{{302,1094},{273,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_captain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,140}</string>
                <key>spriteSourceSize</key>
                <string>{136,140}</string>
                <key>textureRect</key>
                <string>{{1,1120},{136,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>head_sand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,143}</string>
                <key>spriteSourceSize</key>
                <string>{141,143}</string>
                <key>textureRect</key>
                <string>{{870,878},{141,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_thanus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,142}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{577,1094},{152,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>head_tnt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,137}</string>
                <key>spriteSourceSize</key>
                <string>{129,137}</string>
                <key>textureRect</key>
                <string>{{333,564},{129,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_walker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,141}</string>
                <key>spriteSourceSize</key>
                <string>{145,141}</string>
                <key>textureRect</key>
                <string>{{727,878},{145,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,182}</string>
                <key>spriteSourceSize</key>
                <string>{966,182}</string>
                <key>textureRect</key>
                <string>{{1,231},{966,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{969,139}</string>
                <key>spriteSourceSize</key>
                <string>{969,139}</string>
                <key>textureRect</key>
                <string>{{1,90},{969,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{984,87}</string>
                <key>spriteSourceSize</key>
                <string>{984,87}</string>
                <key>textureRect</key>
                <string>{{1,1},{984,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,109}</string>
                <key>spriteSourceSize</key>
                <string>{71,109}</string>
                <key>textureRect</key>
                <string>{{938,559},{71,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>life.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,117}</string>
                <key>spriteSourceSize</key>
                <string>{116,117}</string>
                <key>textureRect</key>
                <string>{{516,748},{116,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,60}</string>
                <key>spriteSourceSize</key>
                <string>{195,60}</string>
                <key>textureRect</key>
                <string>{{938,670},{195,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{703,111}</string>
                <key>spriteSourceSize</key>
                <string>{703,111}</string>
                <key>textureRect</key>
                <string>{{1,415},{703,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{1012,1257}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14e88c4ce03a693908d55b9ea9af61cc:81115cbf1ef1f0ed9c1ce8522366c3a1:333c9ff079a5b8ddfb0c61408e972979$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
