<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,94}</string>
                <key>spriteSourceSize</key>
                <string>{111,94}</string>
                <key>textureRect</key>
                <string>{{130,1},{111,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bucket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,95}</string>
                <key>spriteSourceSize</key>
                <string>{81,95}</string>
                <key>textureRect</key>
                <string>{{413,1},{81,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,26}</string>
                <key>spriteSourceSize</key>
                <string>{115,26}</string>
                <key>textureRect</key>
                <string>{{1,95},{115,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,47}</string>
                <key>spriteSourceSize</key>
                <string>{92,47}</string>
                <key>textureRect</key>
                <string>{{496,1},{92,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,92}</string>
                <key>spriteSourceSize</key>
                <string>{127,92}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{320,1},{92,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{226,1},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>obstacle.png</string>
            <key>size</key>
            <string>{544,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faa36fb85650eb1d10de53d86bdf81b4:55e93cdd78986c0044529ea50864cce3:84d38b5054a23ca1989ad6c742a23413$</string>
            <key>textureFileName</key>
            <string>obstacle.png</string>
        </dict>
    </dict>
</plist>
