<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clickBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,145}</string>
                <key>spriteSourceSize</key>
                <string>{157,145}</string>
                <key>textureRect</key>
                <string>{{194,462},{157,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,151}</string>
                <key>spriteSourceSize</key>
                <string>{207,151}</string>
                <key>textureRect</key>
                <string>{{1,636},{207,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,147}</string>
                <key>spriteSourceSize</key>
                <string>{180,147}</string>
                <key>textureRect</key>
                <string>{{361,609},{180,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,172}</string>
                <key>spriteSourceSize</key>
                <string>{191,172}</string>
                <key>textureRect</key>
                <string>{{1,462},{191,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{209,143}</string>
                <key>spriteSourceSize</key>
                <string>{233,159}</string>
                <key>textureRect</key>
                <string>{{154,636},{209,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{273,162}</string>
                <key>spriteSourceSize</key>
                <string>{297,182}</string>
                <key>textureRect</key>
                <string>{{1,1},{273,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,152}</string>
                <key>spriteSourceSize</key>
                <string>{250,160}</string>
                <key>textureRect</key>
                <string>{{276,1},{234,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{262,151}</string>
                <key>spriteSourceSize</key>
                <string>{290,175}</string>
                <key>textureRect</key>
                <string>{{1,165},{262,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{246,142}</string>
                <key>spriteSourceSize</key>
                <string>{270,164}</string>
                <key>textureRect</key>
                <string>{{1,318},{246,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gunLeve4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,33}</string>
                <key>spriteSourceSize</key>
                <string>{73,33}</string>
                <key>textureRect</key>
                <string>{{258,847},{73,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunLevel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,33}</string>
                <key>spriteSourceSize</key>
                <string>{73,33}</string>
                <key>textureRect</key>
                <string>{{476,155},{73,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunLevel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,33}</string>
                <key>spriteSourceSize</key>
                <string>{73,33}</string>
                <key>textureRect</key>
                <string>{{403,266},{73,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gunLevel3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,33}</string>
                <key>spriteSourceSize</key>
                <string>{73,33}</string>
                <key>textureRect</key>
                <string>{{403,301},{73,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,142}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{249,318},{152,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,141}</string>
                <key>spriteSourceSize</key>
                <string>{145,141}</string>
                <key>textureRect</key>
                <string>{{341,462},{145,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>head3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,143}</string>
                <key>spriteSourceSize</key>
                <string>{141,143}</string>
                <key>textureRect</key>
                <string>{{361,791},{141,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>head4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,137}</string>
                <key>spriteSourceSize</key>
                <string>{129,137}</string>
                <key>textureRect</key>
                <string>{{1,845},{129,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>head5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,140}</string>
                <key>spriteSourceSize</key>
                <string>{136,140}</string>
                <key>textureRect</key>
                <string>{{265,165},{136,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,109}</string>
                <key>spriteSourceSize</key>
                <string>{71,109}</string>
                <key>textureRect</key>
                <string>{{403,155},{71,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>life.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,117}</string>
                <key>spriteSourceSize</key>
                <string>{116,117}</string>
                <key>textureRect</key>
                <string>{{140,847},{116,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,60}</string>
                <key>spriteSourceSize</key>
                <string>{195,60}</string>
                <key>textureRect</key>
                <string>{{299,621},{195,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{511,975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:123238fd181c3624580286259612c5a1:f63048023fb8addffe357faba837d0b1:e44e28a7f983377b8bb0c97d886e5bb7$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
